
div.inputForm {
    height: 100%;
    grid-column: 2/7;
    grid-row: 3;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
    vertical-align: top;
}

div.inputForm p {
    display: contents;
    grid-row: 1;
    grid-column: 1/4;
}

div.inputForm form {
    display: contents;
    grid-row: 2;
}

input[type=submit],
input[type=button] {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    width: 206px;
    height: 41px;
    margin: 0 auto 0 auto;
}

input[type=text],
input[type=password],
textarea {
    background-color: #EEE;
    color: #000;
    padding: 3px;
    margin: 2px;
    border-radius: 2px;
    border: 2px;
    width: 300px;
    margin: 0 auto 0 auto;
}

input[type=submit]:hover,
input[type=button]:hover {
    background-color: #4CAF50;
    color: white;
}

input[type=submit]:disabled,
input[type=button]:disabled {
    border-color: #C0C0C0;
    background-color: #C0C0C0;
    color: #FFF;
}

fieldset {
    border: 0 hidden;
}